<h3>Cars:</h3>
<table>
    <thead>
        <th>Brand</th>
        <th>Color</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.brand}}</td>
            <td>{{car.color}}</td>
            <td>{{car.description}}</td>
        </tr>
    </tbody>
</table>

<h3>Cities:</h3>
<table>
    <thead>
        <th>City</th>
        <th>Country</th>
        <th>Population(million)</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{city.name}}</td>
            <td>{{city.country}}</td>
            <td>{{city.population}}</td>
            <td>{{city.description}}</td>
        </tr>
    </tbody>


</table>
<h3>Companies:</h3>
<table>
    <thead>
        <th>Company</th>
        <th>Owner</th>
        <th>No.of employees</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies">
            <td>{{company.name}}</td>
            <td>{{company.owner}}</td>
            <td>{{company.employees}}</td>
            <td>{{company.description}}</td>
        </tr>

    </tbody>
</table>